@import "bootstrap";
@import "gritter";
@import "font-awesome";

.navbar{
  background-color: grey;
  
}


.page-title-container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: grey;
  width: 100%;
  padding: 10px;
}

.bread-crumb-links {
  display: inline-block;
  font-size: 35px;
}

.last-link {
  margin-bottom: 25px;
}
.first-link {
  margin-top: 25px;
  margin-left: 25px
}
.item-card {
  display: inline-block;
  font-size: 15px;
}
.home-img-size {
  height: 250px;
  width: 350px;
}

