@import "bootstrap";
@import "gritter";

.navbar{
  background-color: grey;
  
}


.page-title-container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: grey;
  width: 100%;
  padding: 10px;
}
