<h1><%= @category.title %></h1>

<h1>Items</h1>

<div class="album text-muted">
  <div class="container">
    <div class="row">
      
        <%= render partial: 'item', collection: @items %>
   
    </div>
  </div>
</div> 